<div class="navbar-container">
    <div class="logo-wrapper">
        <h1>Lorem</h1>
    </div>

    <ul class="navitems-wrapper">
        <li routerLinkActive="active">
            <a routerLink="./dashboard"> <mat-icon>dashboard</mat-icon> <span>Dashboard</span> </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="./statistics"><mat-icon> map</mat-icon> <span>Statistics</span> </a>
        </li>
    </ul>

    <div class="logout-wrapper">
        <button mat-raised-button (click)="logout()"><mat-icon>power_settings_new</mat-icon> Logout</button>
    </div>
</div>