.navbar-container {
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  // .logo-wrapper {
  //   margin-bottom: 48px;
  //   display: flex;
  //   justify-content: center;

  //   img {
  //     width: 80%;
  //     object-fit: contain;
  //   }
  // }

  .navitems-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    padding: 24px 12px;
    gap: 36px;
    border-radius: 8px;

    li {
      width: 100%;
      border-radius: 4px;
      position: relative;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &.active {
        mat-icon {
          color: #1daeff !important;
        }
      }

      &:hover:not(.active) {
        background: #cccccc20;
      }

      a {
        color: #c5c5c5;
        height: 24px;

        mat-icon {
          width: 24px;
          height: 24px;
          color: #b9bcbe;
        }
      }
    }
  }

  // .logout-wrapper {
  //   margin-top: auto;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;

  //   img {
  //     width: 50px;
  //     height: 50px;
  //     border-radius: 50%;
  //     margin-bottom: 12px;
  //   }

  //   h5 {
  //     font-size: 12px;
  //     font-weight: 300;
  //     color: #fff;
  //     margin-bottom: 12px;
  //     text-transform: uppercase;
  //   }

  //   button {
  //     background: #474747;
  //     color: #ffffff;
  //     width: 100%;
  //   }
  // }
}

@media only screen and (max-width: 1000px) {
  .navbar-container {
    flex-direction: column;
    z-index: 99;
    height: 100vh;
  }

  .openBtn {
    display: flex;
    position: absolute;
    top: 18px;
    right: -143px;
    z-index: 9999;
  }

  .closeBtn {
    display: block;
    position: absolute;
    top: 18px;
    right: -143px;
    z-index: 9999;
    color: #000000;
  }

  .logout-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
