.dashboard-container {
  display: flex;
  height: 100%;

  .cards-container {
    background: #f8f7f1;
    width: 35%;
    padding: 38px 24px;
    display: flex;
    flex-direction: column;

    .title-section {
      margin-bottom: 12px;

      .title {
        font-size: 18px;
        font-weight: 400;
        color: #525256;
        margin-bottom: 8px;
        border-bottom: 1px solid #cccccc50;
        padding-bottom: 12px;
      }
    }

    .cards-wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
      flex-grow: 1;

      li {
        background: #ffffff;
        flex-grow: 1;
        border-radius: 8px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        height: 33.3333333%;
        padding: 16px 18px;
        display: flex;
        flex-direction: column;
        border: 1px solid #cccccc;
        position: relative;
        transition: all 0.25s ease;

        &.disable {
          height: 0;
          overflow: hidden;
          padding: 0;
          border: none;
          opacity: 0;
        }

        &.enable {
          height: 100%;
        }

        &::after {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          top: 4px;
          left: 4px;
        }

        &.income-card {
          &::after {
            background: #00c24e;
          }

          input {
            font-size: 22px;
            margin-top: 12px;
            text-align: center;
            border: 1px solid #cccccc;
            border-radius: 4px;
            padding: 4px;
            font-weight: 700;

            &::placeholder {
              font-weight: 400;
              font-size: 14px;
              color: #a2a1a1;
            }
          }
        }

        &.expense-card {
          &::after {
            background: #f74242;
          }

          form {
            width: 100%;

            mat-form-field {
              width: 100%;
            }
          }
        }

        &.balance-card {
          &::after {
            background: #006aff;
          }
        }

        .card-title {
          display: flex;
          justify-content: space-between;
          padding-bottom: 8px;
          margin-bottom: 12px;
          border-bottom: 2px solid #ebebeb;

          h4 {
            font-size: 16px;
            line-height: 1;
            color: #656565;
            font-weight: 400;
            padding: 4px 6px;
          }

          button {
            all: unset;
            cursor: pointer;

            mat-icon {
              font-size: 22px;
              color: #525256;
            }
          }
        }

        h3 {
          font-size: 26px;
          text-align: center;
          margin-top: auto;
          line-height: 60px;
          color: #191919;
        }

        .btns-wrapper {
          display: flex;
          justify-content: flex-end;
          gap: 12px;
          margin-top: auto;

          .add-btn {
            background: #006aff;
            color: #ffffff;
          }
        }
      }
    }
  }

  .expense-details-container {
    flex-grow: 1;
    padding: 24px;
    display: flex;
    flex-direction: column;

    .top-section {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 12px;
      margin-bottom: 18px;
      border-radius: 4px;

      h4 {
        text-align: center;
        color: #5e5e5e;
        font-weight: 500;
        letter-spacing: 1px;
      }
    }

    .table-wrapper {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 24px 12px;
      margin-bottom: 18px;
      border-radius: 4px;
      height: 60%;

      .table {
        max-height: 100%;
        overflow-y: auto;

        table {
          width: 100%;
          border-collapse: collapse;

          tr {
            th {
              color: #656575;
              font-size: 12px;
              font-weight: 300;
              padding: 12px;
              border-bottom: 1px solid #e8e8e8;
              text-align: left;
            }

            td {
              font-size: 12px;
              color: #191919;
              padding: 8px 12px;
              text-transform: capitalize;
              font-weight: 400;
              border-bottom: 1px solid #e8e8e8;
              text-wrap: wrap;

              &.category {
                font-weight: 300;
              }

              &.description {
                width: 35%;
                line-height: 1.2;
              }

              button {
                background: #ff2727;
                color: #ffffff;
                border: none;
                padding: 4px 8px;
                border-radius: 4px;
                font-size: 10px;
              }
            }
          }

          tbody {
            tr {
              &:last-child {
                td {
                  border: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
