<div class="dashboard-container">
    <div class="cards-container">
        <div class="title-section">
            <h2 class="title">Category Details</h2>
        </div>
        <ul class="cards-wrapper">
            <li class="income-card">
                <div class="card-title">
                    <h4>Total Income</h4>
                    <button><mat-icon>edit</mat-icon></button>
                </div>
                <h3>₹ 20,000</h3>
            </li>
            <li class="expense-card">
                <div class="card-title">
                    <h4>Total Expenses</h4>
                    <button><mat-icon>add</mat-icon></button>
                </div>
                <h3>₹ 5,000</h3>
            </li>
            <li class="balance-card">
                <div class="card-title">
                    <h4>Balance</h4>
                </div>
                <h3>₹ 15,000</h3>
            </li>
        </ul>
    </div>
    <div class="expense-details-container">

    </div>
</div>