.main-body-container {
  height: 100vh;
  display: flex;
  background: #dee3e8;
  background: url("../../../assets/images/bg-main.jpg") no-repeat center;
  background-size: cover;

  .navbar-wrapper {
    width: 80px;
    flex-shrink: 0;
  }

  .main-content-wrapper {
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 32px;
  }
}

@media only screen and (max-width: 1000px) {
  .main-body-container {
    display: block;
    width: 100%;
    overflow: scroll;

    .navbar-wrapper {
      position: fixed;
      top: 0;
      z-index: 99;
      bottom: 0;
      width: 80vw;
      left: -80vw;
      transition: all 0.4s ease;

      &.active {
        left: 0;

        &::after {
          width: 20vw;
        }
      }

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 0;
        left: 100%;
        top: 0;
        backdrop-filter: blur(6px);
      }

      .hamburget-wrapper {
        position: absolute;
        left: calc(100% + 18px);
        top: 12px;
        background: none;
        border: none;
        z-index: 2;
      }

      .main-content-wrapper {
        flex-shrink: 1;
      }
    }
  }
}
