.main-body-container {
  height: 100vh;
  display: flex;

  .navbar-wrapper {
    width: 200px;
    flex-shrink: 0;
    background: #191919;
  }

  .main-content-wrapper {
    flex-grow: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .main-body-container {
    display: block;
    width: 100%;
    overflow: scroll;
    .navbar-wrapper {
      position: fixed;
      z-index: 99;
      .main-content-wrapper {
        flex-shrink: 1;
      }
    }
  }
}
