<div class="statistics-container">
    <div class="dropdown-section">
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Year</mat-label>
                <mat-select [value]="currentYear">
                    <mat-option [value]="year" *ngFor="let year of yearsData">{{year}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Month</mat-label>
                <mat-select [value]="currentMonth">
                    <mat-option value="1">January</mat-option>
                    <mat-option value="2">February</mat-option>
                    <mat-option value="3">March</mat-option>
                    <mat-option value="4">April</mat-option>
                    <mat-option value="5">May</mat-option>
                    <mat-option value="6">June</mat-option>
                    <mat-option value="7">July</mat-option>
                    <mat-option value="8">August</mat-option>
                    <mat-option value="9">September</mat-option>
                    <mat-option value="10">October</mat-option>
                    <mat-option value="11">November</mat-option>
                    <mat-option value="12">December</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary">Get Report</button>
        </form>
    </div>
    <div class="amounts-section" *ngIf="amount">
        <p>Income : <span>{{amount.income | currencyFormatter}}</span></p>
        <p>Expenses : <span>{{amount.expense| currencyFormatter}}</span></p>
        <p>Savings : <span>{{amount.balance | currencyFormatter}}</span></p>
    </div>
</div>